<div class="container">
  <!-- <app-test></app-test>

  <router-outlet></router-outlet> -->
  <h1>Hello World</h1>
  <!-- <app-test></app-test>
  <app-propertybinding></app-propertybinding> -->
  <!-- <app-classbinding></app-classbinding> -->
  <!-- <app-stylebinding></app-stylebinding> -->
  <!-- <app-eventbinding></app-eventbinding> -->
  <!-- <app-templatereference></app-templatereference> -->
  <!-- <app-structuraldirectives></app-structuraldirectives> -->
  <!-- <app-ngfor></app-ngfor> -->
  <app-employee-detail></app-employee-detail>
  <app-employee-list></app-employee-list>
</div>
